server:
  port: 8081
spring:
  datasource:
    url: ${USER_SERVICE_POSTGRES_URL}
    username: ${USER_SERVICE_POSTGRES_USERNAME}
    password: ${USER_SERVICE_POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: false

eureka:
  instance:
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
logging:
  level:
    root: INFO
    com.fitness.userservice: INFO